@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200;300;400;500;600;700;800;900&display=swap');
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  hr{
      border-top: 1px solid black;
  }

.navbar{
    background-color: #00248B;
}

.navbar-brand{
    color: white;
    font-family: 'Merriweather', serif;
}
.nav-link{
    color: white;
}

*{
    /* font-family: 'Merriweather', serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Source Serif 4', sans-serif;
    /* color: white; */
}

.container h1{
    /* font-weight: 300; */
    font-family: 'Source Serif 4', sans-serif;
    font-size: 45px;
}

body{
    background-color: #d3d7da;
    color: black;
}

#display{
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 8px 8px 8px grey;
    
}

#display h2{
    margin-top: 20px;
    color: #00248B;
}

.form-control{
    box-shadow: 0px 2px 4px 0 grey, 4px 2px 2px 0 grey;
}

.form-group .image{
    display: flex;
}
.form-group .image img{
    width: 40px;
    height: 40px;
    transition-duration: 0.5s;
}
.form-group .image img:hover{
    width: 50px;
    height: 50px;
}

.buttons{
    display: flex;
    position: relative;
    left: 40px;
}